.logo {
    height: 80px;
    width: 120px;
}

.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: mediumpurple;
}

.username {
    padding-right: 30px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.login {
    text-decoration: none;
}
